@import '@/sass/variables';
@import '@/sass/functions';
@import '@/sass/mixins';
@import url(https://kit.fontawesome.com/3797ae5e09.js);

@include google-font('Roboto');

* {
   padding: 0;
   margin: 0;
   font-family: $standard-text;
}

.container {
   margin: auto;
   max-width: $max-width;
   width: 100%;
   height: 600px;

   // Adjust the number of columns and rows here.
   @include grid(12, 2, 0%);

   @media only screen and (max-width: $tablet-landscape) {
      @include grid(6, 3, 0%);
   }

   @media only screen and (max-width: $tablet-portrait) {
      @include grid(3, 3, 0%);
   }

   @media only screen and (max-width: $mobile-landscape) {
      @include grid(2, 3, 0%);
   }

   @media only screen and (max-width: $mobile-portrait) {
      @include grid(1, 3, 0%);
   }
}